/* GENERALES */

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: white;
    margin: 0 auto;
    max-width: 18000px;
    font-size: 1.5rem;
}

.contenedor {
    width: 100%;
}

.encabezado {
    font-family: "Lato", sans-serif;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
    flex: 1 1 auto;
    width: 100%;
    position: fixed;
}

.encabezado__contenedor {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.encabezado__logo {
    margin-left: 50px;
    display: flex;
    width: 150px;
    height: 150px;
}


/* Estilo del Menú */

.menu__top {
    height: 65px;
    background-color: rgb(163, 161, 161);
    border-radius: 0.5rem;
    margin-right: 25px;
    display: flex;
    align-items: center;
    flex: 0 1 auto;
}

.menu__list {
    padding-left: 15px;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}

.menu__item {
    padding: 10px;
    margin: 0;
    position: relative;
}

.menu__link {
    text-decoration: none;
    display: inline-block;
    padding: 1.5rem;
    text-align: center;
    font-size: 1.6rem;
    color: black;
    font-weight: 800;
}


/* Cambiar color al pasar el cursor */

header nav a:hover {
    color: #fa5c65;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    text-decoration: none;
}

.menu__item:hover ul {
    display: block;
}

.menu__sublist {
    position: absolute;
    list-style-type: none;
    display: none;
}

.menu__subitem {
    background-color: rgb(163, 161, 161);
    margin: 0;
    padding: 10px;
}

.menu__sublink {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
    color: black;
    display: block;
    padding: 20px;
}

.main {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}


/* Pie de Página */

.footer {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 110px;
    color: #e6e6e6;
    font-size: 14px;
    text-align: center;
    padding: 5px;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

#footerindex {
    height: 110px;
}

#modal {
    color: black;
}


/* Redes Sociales */

.social {
    font-size: 2rem;
    color: #e6e6e6;
}


/* Estilo al pasar mouse de las redes sociales */

.social:hover {
    color: #fa5c65;
}


/* INDEX */


/* Background de Index */

.fondo {
    background-image: url(../IMG/BackgroundIndex.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fondo__cont {
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    justify-content: flex-end;
}


/* Estilo de los títulos de encabezados */

.fondo__titulos {
    text-align: center;
    margin-bottom: 50vh;
}

.fondo__titulos--h1 {
    font-family: "Montserrat", sans-serif;
    color: #444;
    font-weight: 700;
    text-align: center;
    font-size: 5rem;
    letter-spacing: 3px;
}

.fondo__titulos--h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    color: #555;
    font-weight: 600;
    margin-bottom: 15px;
    color: #777;
}

.fondo__titulos_h3 {
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    color: #555;
    font-weight: 600;
    color: #777;
}

section {
    font-family: "Lato", sans-serif;
}


/* NOSOTROS */


/* Fondo de la sección */

.fondo__nos {
    background-image: url(../IMG/BackgroundNos.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.fondo__cont--nos {
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    justify-content: flex-end;
}

.fondo__titulos--h1nos {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: 700;
    text-align: center;
    font-size: 5rem;
    letter-spacing: 3px;
}

.main__nos {
    width: 100%;
}

.main__somos {
    display: flex;
    flex-flow: column;
}

.main__titulos {
    text-align: center;
    margin: 20px;
}

.imagenes__nosotros {
    text-align: center;
}

.fondo__titulos--h2nos {
    font-family: "Lato", sans-serif;
    font-size: 4rem;
    color: #666;
    font-weight: 600;
    margin-bottom: 15px;
    color: #777;
}

.fondo__titulos--h3nos {
    font-family: "Lato", sans-serif;
    font-size: 3rem;
    color: #666;
    font-weight: 600;
    margin-bottom: 15px;
    color: #777;
    text-align: center;
}


/* Estilo párrafo de quienes somos */

.Historia {
    color: black;
    text-align: justify;
    margin-left: 50vh;
    margin-right: 50vh;
    font-size: 2rem;
}

.footer__catalogo {
    font-family: "Sansita Swashed", cursive;
    font-weight: bolder;
    text-align: end;
    margin-left: 50vh;
    margin-right: 50vh;
    font-size: 2rem;
}


/* PRODUCTOS */


/* Fondo de la sección Productos */

.fondo__prod {
    background-image: url(../IMG/backgroundproductos.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.fondo__titulos--h1prod {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 3vh;
    color: #444;
    font-weight: 700;
    text-align: center;
    font-size: 5rem;
    letter-spacing: 3px;
}


/* NEW ARRIVALS*/


/* Fondo de la sección New Arrivals */

.fondo__newa {
    background-image: url(../IMG/BackgroundNewA.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fondo__titulos--h1newa {
    font-family: "Lato", sans-serif;
    color: #444;
    font-weight: 800;
    text-align: center;
    font-size: 5rem;
    letter-spacing: 3px;
    margin-bottom: 21vh;
}


/* CONTACTO */


/* Fondo de la sección Contacto */

.fondo__contacto {
    background-image: url(../IMG/BackgroundCont.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.fondo__titulos--cont {
    text-align: center;
}

.fondo__titulos--h1cont {
    font-family: "Montserrat", sans-serif;
    color: #444;
    font-weight: 700;
    text-align: center;
    font-size: 4.3rem;
    letter-spacing: 3px;
    line-height: 1.75;
}

.fondo__cont--flecha {
    margin-bottom: 25vh;
}


/* Estilos del Formulario */

.container {
    max-width: 1140px;
    margin: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    font-family: 'Montserrat', sans-serif;
}

.form__grupo {
    margin-bottom: 25px;
}

.contactanos {
    margin-top: 25px;
    margin-bottom: 25px;
}

.centrar__texto {
    text-align: center!important;
}

.texto__mayuscula {
    text-transform: uppercase!important;
}

.punto__red {
    color: #fa5c65!important;
}

.titulo__contacto {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 25px;
    color: #314a5b!important;
    font-weight: 700;
}

.a__contacto {
    text-decoration: none!important;
}

.logo__contacto {
    color: #fa5c65;
}

.h6 {
    font-size: 1.6rem;
}

.consulta {
    margin-top: 50px;
    margin-bottom: 20px;
    color: #8f959f;
}

p {
    line-height: 1.75;
}

.form__control {
    display: block;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    font-family: 'Roboto Slab', serif;
}

.form__grupo input,
.form__grupo textarea {
    padding: 20px;
}

.text-danger {
    color: #dc3545!important;
}

.form__grupo textarea.form__control {
    height: 248px;
}

.form__grupo input.form__control {
    height: auto;
}

.form__control:focus {
    border-color: #fa5c65;
    box-shadow: none;
}

.btn-danger {
    background-color: #fa5c65;
    border-color: #fa5c65;
}

.btn-xl {
    font-size: 18px;
    padding: 20px 40px;
}

.btn {
    font-weight: 700;
    margin-bottom: 10px;
}

.btn:hover {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

::-webkit-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

::selection {
    background: #fa5c65;
    text-shadow: none;
}