$color-titulos: #444;
$color-titulos2: #555;
$color-titulos3: #777;
$color-titulos4: #666;
$color-footer: #e6e6e6;
$color-hover: #fa5c65;
$color-menu: #333;
$color-backgroundsecciones: #FFF;
$color-titulonosotros: white;
$color-historia: black;
$title-font :"Lato",
sans-serif;
$title-font2: "Roboto Slab",
serif;
$title-font3:"Montserrat",
sans-serif;
$title-font4:"Sansita Swashed",
cursive;