@import '../utilities/variables';
.contenedor {
    width: 100%;
}

.encabezado {
    text-align: left;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.encabezado__contenedor {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.encabezado__logo {
    margin-left: 50px;
    display: flex;
    width: 150px;
    height: 150px;
}

.hamb {
    display: none;
}

.hamb__label {
    position: absolute;
    font-size: 3.5rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(51, 51, 51, 0.61);
    top: 0;
    right: 0;
    margin-right: 20px;
    height: 100%;
    display: flex;
    align-items: center;
}

.hamb:checked~.menu__top .menu__list {
    left: 0;
}


/* Estilo del Menú */

.menu__list {
    position: fixed;
    margin-top: 40px;
    width: 100%;
    height: 100vh;
    padding: 50px;
    background-color: #333;
    left: -150%;
    transition: all .5s;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu__item {
    margin-bottom: 15px;
    margin-left: 15px;
}

.menu__link {
    text-decoration: none;
    color: #fff;
    font-size: 3.5rem;
    font-weight: 800;
}


/* Cambiar color al pasar el cursor */

.menu__link:hover {
    color: $color-hover;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    text-decoration: none;
    transition: ease-in .1s;
}

.menu__sublist {
    position: absolute;
    list-style-type: none;
    display: none;
}

@media screen and (min-width: 991.98px) {
    .encabezado {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        flex-basis: 100%;
        flex: 1 1 auto;
        width: 100%;
        position: fixed;
    }
}

@media screen and (min-width: 991.98px) {
    .encabezado__logo {
        margin-left: 50px;
    }
}

@media screen and (min-width: 991.98px) {
    .menu__top {
        height: 65px;
        background-color: $color-menu;
        border-radius: 0.5rem;
        margin-right: 25px;
        display: flex;
        align-items: center;
        flex: 0 1 auto;
    }
}

@media screen and (min-width: 991.98px) {
    .hamb__label {
        display: none;
    }
}

@media screen and (min-width: 575.98px) {
    .menu__list {
        padding-left: 150px;
    }
}

@media screen and (max-width: 575.98px) {
    .encabezado__logo {
        margin-left: 25px;
    }
    .row {
        max-width: 390px;
    }
}

@media screen and (min-width: 767.98px) {
    .menu__list {
        padding-left: 200px;
    }
    menu__link {
        font-size: 4rem;
    }
}

@media screen and (min-width: 991.98px) {
    .menu__list {
        all: unset;
        padding-left: 15px;
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;
    }
}

@media screen and (min-width: 991.98px) {
    .menu__item {
        padding: 1rem;
        margin: 0;
        position: relative;
    }
}

@media screen and (min-width: 991.98px) {
    .menu__link {
        text-decoration: none;
        display: block;
        padding: 1.5rem;
        text-align: center;
        font-size: 1.5rem;
    }
    .menu__link:hover {
        background-image: linear-gradient(to right, #434343 0%, black 100%);
        padding: 15px;
        border-radius: 5px;
    }
    .menu__subitem {
        background-color: $color-menu;
        margin: 0;
        padding: 10px;
    }
    .menu__sublink {
        display: block;
        padding: 20px;
    }
}