@import '../utilities/variables';
.btn-danger {
    background-color: $color-hover;
    border-color: $color-hover;
}

.btn-xl {
    font-size: 18px;
    padding: 20px 40px;
}

.btn {
    font-weight: 700;
    margin-bottom: 10px;
    &:hover {
        background-image: linear-gradient(to right, #434343 0%, black 100%);
    }
}

.btn-primary {
    color: $color-titulos;
    background-color: $color-footer;
    padding: 12px;
    margin: 10px;
    border: 1px solid;
    font-size: 1.5rem;
    font-family: $title-font3;
}

.btn-primary:hover {
    border-color: $color-hover;
}

::selection {
    background: $color-hover;
    text-shadow: none;
}

@media screen and (max-width: 991.98px) {
    .btn-primary {
        padding: 5px;
    }
}